<table class="table">

    <tr>
        <td>@Html.ActionLink("Home", "Index", "Home")</td>
        <td>@Html.ActionLink("Vendors", "Index", "Vendors")</td>
        <td>@Html.ActionLink("Catalog", "Index", "Catalog")</td>
        <td>@Html.ActionLink("Positions", "Index", "Positions")</td>
        <td>@Html.ActionLink("Entries", "Index", "Entries")</td>
    </tr>

</table>
