<table class="table">

    <tr>
        <td>@Html.ActionLink("Home", "Index", "Home")</td>
        <td>@Html.ActionLink("Vendors", "Items", "Vendors")</td>
        <td>@Html.ActionLink("Catalog", "Items", "Catalog")</td>
        <td>@Html.ActionLink("Positions", "Items", "Positions")</td>
        <td>@Html.ActionLink("Entries", "Items", "Entries")</td>
    </tr>

</table>
